[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
gunicorn = "*"
itsdangerous = "*"
python-dotenv = "*"
six = "*"
alembic = "*"
python-dateutil = "*"
python-editor = "*"
greenlet = "*"
flask = "*"
flask-cors = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
sqlalchemy = "*"
werkzeug = "*"
wtforms = "*"
importlib-metadata = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.12.7"

[scripts]
d = "rm instance/dev.db"
m = "pipenv run flask db migrate"
u = "pipenv run flask db upgrade"
s = "pipenv run flask seed"
start = "pipenv run flask run"
i = "sh -c 'pipenv run u && pipenv run flask seed && pipenv run flask run'"
dus = "pipenv run d && pipenv run u && pipenv run s"
db = "sh -c 'pipenv run d && pipenv run u && pipenv run flask seed all && pipenv run flask run'"